{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Form Wizards</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Wizards <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <h2>Example: Vertical Style</h2>
                    <!-- Tabs -->
                    <div id="wizard_verticle" class="form_wizard wizard_verticle">
                      <ul class="list-unstyled wizard_steps">
                        <li>
                          <a href="#step-11">
                            <span class="step_no">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-22">
                            <span class="step_no">2</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-33">
                            <span class="step_no">3</span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-44">
                            <span class="step_no">4</span>
                          </a>
                        </li>
                      </ul>

                      <div id="step-11">
                        <h2 class="StepTitle">Step 1 Content</h2>
                        <form class="form-horizontal form-label-left">

                          <span class="section">Personal Info</span>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Student <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2">
                                {{ form.student }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="last-name">Instructor <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2">
                              {{ form.instructor }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Date<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                {{ form.date }}
                            </div>
                          </div>

                        </form>
                      </div>
                      <div id="step-22">
                        <h2 class="StepTitle">Step 2 Content</h2>
                          <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Score</label>
                            <div class="col-md-2 col-sm-2">
                              {{ form.score }}
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Deductions</label>
                            <div class="col-md-2 col-sm-2">
                              {{ form.deductions }}
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Hours Driven</label>
                            <div class="col-md-2 col-sm-2">
                              {{ form.hours_driven }}
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Hours Observed</label>
                            <div class="col-md-2 col-sm-2">
                              {{ form.hours_observed }}
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3" for="first-name">Comments</label>
                            <div class="col-md-8 col-sm-8">
                              {{ form.comments }}
                            </div>
                          </div>
                      </div>
                    </div>
                      <div id="step-33">

                      </div>

                      <div id="step-44">

                      </div>
                    </div>
                    <!-- End SmartWizard Content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
    <!-- NProgress -->
    <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{% static "vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js" %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static "build/js/custom.min.js" %}"></script>

    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
          transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
      });
    </script>
    <!-- /jQuery Smart Wizard -->

    </body>

{% endblock %}